:root{
    --dark-color: #000000;
    --white-color: #FFFFFF;
    --blue-color: #1E90FF; 
    --green-color: #0A900A; 
}

body{
    background-image: radial-gradient(circle, var(--white-color) 0%, var(--dark-color) 100%);
}

h1 {
    color: var(--blue-color);
}

.container {
    text-align: center;
    margin-top: 30px;
}

#button-selected {
    width: 160px;
    height: 25px;
    background-color: var(--white-color);
    color: var(--green-color);
    border: 1px solid var(--dark-color);
    border-radius: 4px;
    margin-top: 10px;
    cursor: pointer;
}

#button-selected:hover {
    width: 160px;
    height: 25px;
    background-color: var(--green-color);
    color: var(--white-color);
    border: 1px solid var(--dark-color);
    border-radius: 4px;
    margin-top: 10px;
    cursor: pointer;
}


#message {
    margin-top: 10px;
    font-size: 20px;
    font-weight: 600;
    color: var(--blue-color);
}